@import url('http://fonts.cdnfonts.com/css/common-pixel');
body {
    font-family: 'Common Pixel', sans-serif;
    margin: 2em;
    background-color: rgb(0, 146, 24);
    color: white;
    font-size: 25px;
}

#wrong {
    font-family: 'Common Pixel';
    font-size: 40px;
    color: red;
    text-align: center;
}

h1 {
    font-size: 60px;
    font-family: 'Common Pixel';
    color: rgb(255, 255, 78);
    border-bottom: solid;
    
}

a {
    position: absolute;
    bottom: 0;
    left: 0;
}

button {
    
    padding: 10px;
    border-radius: 10px;
}

#gameButtonArea > button {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 2px;
}

.hidden {
    display: none;
}

#button1 {
    background: lightgreen;
}
#button1:active, #button1.lit {
    background: green;
}

#button2 {
    background: lightblue
}
#button2:active, #button2.lit {
    background: blue;
}

#button3 {
    background: lightcoral;
}
#button3:active, #button3.lit {
    background: red;
}

#button4 {
    background: lightyellow;
}
#button4:active, #button4.lit {
    background: yellow;
}

#button5 {
    background: rgb(190, 163, 190)
}
#button5:active, #button5.lit {
    background: purple;
}
